v-cloak{
    display:none;
}
table{
    width: 600px;
    margin:40px auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid gray;
}
table th{
    background-color: #eee;
}
table tbody td, table thead th{
    border:1px solid gray;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
}
table th a{
    display: inline-block;
    margin: 0 4px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
table th a.on{
    color:#39f;
}
table th a:hover{
    color:#39f;
}